{% load static %}
<div class="container-fluid">
    <div id="banner_mas"class="row">
        <div class="col-md-8 d-flex flex-column">
            <h1 class="mx-auto mt-5" id="descubre_titulo">Descrubre el verdadero sabor del agua!</h1>
            <button id="mas_button" class="mx-auto my-4">Ven a ver mas!</button>
        </div>
        <div class="col-md-4">
            <!--mw-100 no entendi muy bien, pero ajusta la wea al 100% dentro del contenedor sin salir-->
            <img id="ecopura_log"  src="{%static 'img/LOGO_ECOPURA_WITHOUTBACKG.png'%}" alt="">
        </div>
    </div>
</div>