
@font-face {
    font-family: berlin_sans;
    src: url(Berlin_Sans_FB_Regular.ttf);
    
}
@font-face {
    font-family: Leelawadee;
    src: url(leelawad.ttf);
}
*{
    padding: 0;
    margin: 0;
}
form{
    background-color: #343a40;
    border-radius: 5px;
}


@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }