@font-face {
    font-family: berlin_sans;
    src: url(Berlin_Sans_FB_Regular.ttf);
    
}
@font-face {
    font-family: Leelawadee;
    src: url(leelawad.ttf);
}
*{
    padding: 0;
    margin: 0;
}
p{
    font-family: Leelawadee;
}
#tit{
    color: red;
}