@font-face {
    font-family: Leelawadee;
    src: url(leelawad.ttf);
}
@font-face {
    font-family: berlin_sans;
    src: url(Berlin_Sans_FB_Regular.ttf);
}
*{
    background-color: transparent;
    padding: 0;
    margin: 0;
}
img{
    padding: 0;
}
nav.navbar.navbar-expand-lg{
    margin: 0;
    padding: 0;
}
.navbar-nav.nav-fill.w-100 li a{
    font-family: Leelawadee;
    color:#00C7FE;
    font-size: 24px;
}

#banner_mas{
    background: linear-gradient(#1774DB,#6BE0FF );

}
#mas_button{
    background-color: transparent;
    border-radius: 60px;
    border: 4px ridge rgba(167, 239, 255, 0.689);
    font-family: berlin_sans;
    font-size: 30px;
    color: white;
    width: 300px;

}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: berlin_sans;
}
#imagen_estatica{
    width: 300px;

}
#ecopura_log{
    /*Aqui ajusto la imagen hasta un maximo de tamanio (400px) y que dentro del contenedor
    tenga el 100% del ancho (que use todo el espacio).
    Puedo ajustar el width-max 100% en boostrap con la clase, pero no me permite elegir
    un tamanio maximo*/
    max-width: 100%;
    width: 400px;

    
}

#img_prodc_1{
    max-width: 100%;
    width: 300px;

}
#espacio_carr{
    background-color: grey;

}

@media only screen and (max-width: 768px) { /*Del 768 hacia abajo, tomara estas configuraciones*/
     #lgo{
        max-width: 100%;
        width: 250px;
    }
    #ecopura_log{
        display: none;
    }
  }
  @media only screen and (max-width: 500px) {
    #lgo{
     width: 210px;
   }
   h1{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: berlin_sans;
}

 }
/*
 Inicio de responsive-mobile, de menor a mayor
*/
/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
*/

#boton_precio{
    min-width: 40%;
    border-radius: 60px;
    width: 30%;
    border: 4px ridge rgba(0, 0, 0, 0.689);
    transition-duration: 0.4s;
    border-style: none;
}
#boton_precio:hover{

    background-color: hwb(212 56% 2%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.carousel-indicators .active{
    background-color: rgb(112, 209, 247);
}
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }
