@font-face {
    font-family: Leelawadee;
    src: url(leelawad.ttf);
}
@font-face {
    font-family: berlin_sans;
    src: url(Berlin_Sans_FB_Regular.ttf);
}
*{
    background-color: transparent;
    padding: 0;
    margin: 0;
}
nav.navbar.navbar-expand-lg{
    margin: 0;
    padding: 0;
}
.navbar-nav.nav-fill.w-100 li a{
    font-family: Leelawadee;
    color:#00C7FE;
    font-size: 24px;
}

#banner_mas{
    background: linear-gradient(#1774DB,#6BE0FF );

}
#mas_button{
    background-color: transparent;
    border-radius: 60px;
    border: 4px ridge rgba(167, 239, 255, 0.689);
    font-family: berlin_sans;
    font-size: 30px;
    color: white;
    width: 300px;

}
#descubre_titulo{
    text-align: center;
    width: 400px;
    color: white;
    font-family: berlin_sans;
}
#imagen_estatica{
    width: 300px;

}
#ecopura_log{
    /*Aqui ajusto la imagen hasta un maximo de tamanio (400px) y que dentro del contenedor
    tenga el 100% del ancho (que use todo el espacio).
    Puedo ajustar el width-max 100% en boostrap con la clase, pero no me permite elegir
    un tamanio maximo*/
    max-width: 100%;
    width: 400px;
    
}
@media only screen and (max-width: 768px) { /*Del 768 hacia abajo, tomara estas configuraciones*/
     #lgo{
        max-width: 100%;
        width: 250px;
    }
    #ecopura_log{
        display: none;
    }
  }
  @media only screen and (max-width: 500px) {
    #lgo{
     width: 210px;
   }

 }
